.header-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  justify-content: center;
}
.header-navlink {
  display: contents;
}
.header-text {
  justify-self: center;
  text-decoration: none;
}

@media(max-width: 1200px) {
  .header-container {
    align-self: center;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
    border-color: var(--dl-color-gray-black);
    border-style: hidden;
    border-width: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .header-text {
    font-size: 70px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .header-root-class-name {
    top: 0px;
    left: 0px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .header-container {
    max-width: contain;
  }
}
@media(max-width: 479px) {
  .header-container {
    resize: contain;
  }
}

.architecture-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
